.buttonBack {
  width: 60px;
  height: 60px;
}

.bgColor {
  background-color: #2E4FBE;
}

.bgColorOpacity {
  background-color: #2e50be62;
}

.bgColorWhite {
  background-color:#FFFFFF;
}

.fontWhite {
  color: white;
}
