/* root {
  --colorPinPolice: #5ea458;
  --colorPinHelp: #79a5cd;
  --coloPinAccident: #8774b5;
  --colorPinCrane: #d8b44c;
  --colorPinSuspiciousPassenger: #F77629;
  --colorPinSteal: #ce3f32;
} */

p {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.pinAccident-color-hr {

  background-color: #8774b5;
  height: 1px;
  width: 100%;
}
.pinPolice {
  background-color: #5ea458;
}

.pinHelp {
  background-color: #79a5cd;
}

.pinAccident {
  background-color: #8774b5;
}

.pinCrane {
  background-color: #d8b44c;
}

.pinSuspiciousPassenger {
  background-color: #F77629;
}

.pinThief {
  background-color: #ce3f32;
}

.buttonBack {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.icon {
  width: 30px;
  height: 30px;
  margin: 5px 3px 5px 3px;
  padding: 0px 0px 0px 0px;
}
.fontWhite {
  color: #FFFFFF;
  margin: 0;
}

.textCenter {
  text-align: center;
  margin: 0px;
}

.textRight {
  margin: 5px 0px 5px 10px;
 
}
.subt {
  border-bottom: 1px white solid;
  text-align: center !important;
  font-weight: bold;
}

.right{
  border-right: 0.5px white solid;
}

.marginrow{
  margin:0;
}
.date{
  padding: 0 !important;
  border-right: 0.5px white solid;
  background-color:rgba(0, 0, 0, 0.047)
}

.mtop {
  margin: 10px 0px 0px 0px;
}

.photoUser {
  height: 80px;
  width: 80px;
  align-items: center;
}

#reportDescription {
  background-color: rgba(0, 0, 0, 0.048);
  
    text-align: justify;
    display: grid;
    align-content: center;
}

div #reportDescription > p{
  margin: 25px;
}