
.btns-top{
    margin-top: 10%;
}
.btns-bottom{
    margin-top: 115%;
}
.icons{
    width: 75%;
 
}
.clp{
    width: 120%;
    margin-left: -30%;
    margin-top: 10%;
}
.sos{
    margin-left: 5%;
    margin-top: 10%;
}
.bg-sos{
   color: white;
    width: 100%;
    height: 100%;
}
#panic{
    display: none;
}
#security{
    display: block;
}
